@import 'reset.css';

body {
	background: #99cc00 url(../media/background.jpg) repeat-x top;
  font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

strong {
  font-weight: bold;
}

#shadow {
  background: #99cc00 url(../media/background_page.gif) no-repeat top left; 
  width: 884px; 
  margin: 0 auto;
}

#page {
  margin: 0 9px;
  min-height: 600px;
  background-color: #fff;
}

#header {
  padding: 15px 15px 5px 27px;
}

#header h1 {
  text-indent: -999em;
  display: block;
  height: 70px;
  width: 283px;
  background: transparent url(../media/logo.png) no-repeat top left;
  margin-top: 12px;
}

#header img {
  float: right;
  margin: -10px -15px -10px 0;
}

#menu {
  float: right;
  margin: 20px -15px 0 0;
  background: transparent url(../media/background_menu.jpg) no-repeat scroll 0 0;
  width:839px;
  height:24px;
}

#menu ul li {
  border-right:1px solid #B9D272;
  float: left;
  height:21px;
  padding:3px 8px 0;
}

#menu a {
  color: #fff;
  text-decoration: none;
  font-size: 95%;
}

#breadcrumbs {
  padding: 7px 0;
  font-size: 90%;
  clear: both;
  color:#666666;
}

#breadcrumbs a {
  color:#666666;
  text-decoration: none;
}

#content {
  padding: 0 27px 27px 27px;
}

#content h2 {
  color: #99cc00;
  font-size: 180%;
  font-weight: bold;
  margin: 15px 0;
}

#content h3 {
  font-weight: bold;
  margin-top: 10px;
  font-size: 110%;
}

#content p {
  margin: 5px 0;
  line-height: 140%;
}

#content a {
  color: #000;
}

#content .episode_preview {
  width: 182px;
  float: left;
  margin: 0 2px 15px 1px;
  background: #eff0d0;
  padding: 6px 6px 6px 8px;
}

#content .episode_preview h3 {
  margin: 0;
  padding: 5px 12px;
  text-align: center;
}

#content .episode_preview h3 a {
  text-decoration: none;
}

#content .episode_preview p {
  font-size: 90%;
}

#content .episode_preview a.listen {
  margin: 10px 0 5px 13px;
}

#content a.listen {
  background: transparent url(../media/play.png) no-repeat scroll center left;
  padding-left: 36px;
  line-height: 26px;
  display: block;
  color: #98cb00;
  font-weight: bold;
}

#content .episode_list h3 {
  color:#99CC00;
}

#content .episode_list h3 a {
  color:#99CC00;
  text-decoration: none;
}

#content .episode_list a.listen {
  text-align: right;
  background: transparent;
}

#content .clear.left {
  clear: left;
}

.episode #content .description {
  margin-bottom: 30px;
}

.episode #content .description img {
  float: left;
  margin-right: 10px;
}

.episode #content .audio {
  background: #eff0d0;
  padding: 10px 0 10px 10px;
  margin: 5px 0 5px 210px;
}

.episode #content .audio embed {
  margin: 10px 0 0 0;
}

#sidebar {
  width: 190px;
  float: right;
  min-height: 400px;
}

#sidebar .block {
  background-color: #eff0d0;
}

#sidebar h3 {
  background: transparent url(../media/background_block.jpg) no-repeat scroll 0 0;
  height: 26px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
}

#sidebar ul, #sidebar p {
  padding: 10px 20px;
}

#sidebar #contact li {
  padding-left: 25px; 
  line-height: 24px;
}

#sidebar #contact li.twitter {
  background: transparent url(../media/twitter.png) no-repeat scroll center left;
}

#sidebar #contact li.rss {
  background: transparent url(../media/rss.png) no-repeat scroll center left;
}

#sidebar #contact li.email {
  background: transparent url(../media/email.png) no-repeat scroll center left;
}

#sidebar #contact li.facebook {
  background: transparent url(../media/facebook.png) no-repeat scroll center left;
}

#main {
  width: 600px;
}

#footer {
  font-size: 95%;
  color: #fff;
  margin: 5px 0 0 45px;
}

#footer span, #footer img {
  float: left;
}

#footer span {
  margin-top: 15px;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#footer img.autresmondes {
  margin-left: 10px;
}

#footer .license {
    clear: both;
    text-align: right;
    clear: both;
    padding: 5px 15px 5px 0;
    font-size: 60%;
}

#footer .license a {
    font-weight: bold;
    font-size: 160%;
}

div[lang=en], div[lang=ne] {
  display: none;
}

.language_switchers {
    float: right;
    margin-top: 21px;
}

#programme h2 {
    clear: both;
}

#programme .part {
    float: left;
    width: 270px;
}

#programme .part ul {
    padding: 10px 0;
    font-size: 95%;
}

#programme .part li {
    padding: 2px 0;
}

#programme:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
