@import 'reset.css';

body {
	background: #99cc00 url(../media/background.jpg) repeat-x top;
  font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

strong {
  font-weight: bold;
}

#shadow {
  background: #99cc00 url(../media/background_page.gif) no-repeat top left; 
  width: 884px; 
  margin: 0 auto;
}

#page {
  margin: 0 9px;
  min-height: 600px;
  background-color: #fff;
}

#header {
  padding: 15px 15px 15px 27px;
}

#header h1 {
  text-indent: -999em;
  display: block;
  height: 58px;
  width: 283px;
  background: transparent url(../media/logo.png) no-repeat top left;
}

#menu {
  float: right;
  margin: 20px -15px 0 0;
  background: transparent url(../media/background_menu.jpg) no-repeat scroll 0 0;
  width:839px;
  height:24px;
}

#menu ul li {
  border-right:1px solid #B9D272;
  float: left;
  height:21px;
  padding:3px 8px 0;
}

#menu a {
  color: #fff;
  text-decoration: none;
  font-size: 95%;
}

#breadcrumbs {
  padding: 7px 0;
  font-size: 90%;
  clear: both;
  color:#666666;
}

#content {
  margin: 0 27px 27px 27px;
}

#content h2 {
  color: #99cc00;
  font-size: 180%;
  font-weight: bold;
  margin-bottom: 10px;
}

#content p {
  margin: 5px 0;
}

#sidebar {
  width: 170px;
  float: right;
  min-height: 400px;
  margin-left: 30px;
}


#sidebar .block {
  background-color: #eff0d0;
}

#sidebar h3 {
  background: transparent url(../media/background_menu.jpg) no-repeat scroll 0 0;
  height: 20px;
  color: #fff;
  text-align: center;
  padding-top: 4px;
}

#sidebar ul, #sidebar p {
  padding: 10px;
}

#footer {
  text-align: right;
  font-size: 95%;
  color: #fff;
}

#footer p {
  height: 55px;
  clear: both;
}

#footer span, #footer img {
  float: left;
}

#footer span {
  margin-top: 15px;
}

#footer .oxfam span {
  margin-left: 85px;
}

#footer .autresmondes span {
  margin-left: 722px;
}

#footer a {
  color: #fff;
  text-decoration: none;
}