<div id="footer">
	<p>
    2010, 
    <span xmlns:dc="http://purl.org/dc/elements/1.1/" property="dc:title">Radio RMLL 2010</span> 
    by <a xmlns:cc="http://creativecommons.org/ns#" href="http://radio.rmll.org" property="cc:attributionName" rel="cc:attributionURL">Radio RMLL</a>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
  </p> 
</div>
