<div id="page-sommaire">
  <div id="accessibility">
  <a href="http://2010.rmll.info/Accessibilite.html" title="Accessibilité-(Touche d'accès : 0 )" accesskey="0">
    Accessibilité
  </a>
  <a href="http://2010.rmll.info/Contact.html" title="Contact-(Touche d'accès : 7 )" accesskey="7">
    Contact
  </a>
  <a href="#menu" title="Aller au menu-(Touche d'accès : m)" accesskey="m">
    Aller au menu
  </a>

  <a href="#main" title="Aller au texte-(Touche d'accès : s)" accesskey="s">
    Aller au texte
  </a>
</div>

<div id="menu">
  <ul>
    <li><a href="http://2010.rmll.info/" title="">Accueil</a></li>
    
      <li>
        <a href="http://2010.rmll.info/-Actualites-.html" title="">Actualités</a>
      </li>
    
      <li>
        <a href="http://2010.rmll.info/-Programme-.html" title="">Programme</a>
      </li>
    
      <li>
        <a href="http://2010.rmll.info/-Partenaires-et-Sponsors-.html" title="">Partenaires et Sponsors</a>
      </li>
    
      <li>
        <a href="http://2010.rmll.info/-Les-RMLL-.html" title="">Les RMLL</a>
      </li>
    
      <li>
        <a href="http://2010.rmll.info/-Informations-pratiques-.html" title="">Informations pratiques</a>
      </li>
    
      <li>
        <a href="http://2010.rmll.info/-Village-Associatif-.html" title="">Village Associatif</a>
      </li>
    
    <!--<li><a href="http://2010.rmll.info/Historique-et-philosophie.html">partners</a></li>
    <li><a href="http://2010.rmll.info/History-And-Philosophy.html">sponsors</a></li>
    <li>
    <a href="http://2010.rmll.info/spip.php?page=rmll_progcount"></a>
    <a href="http://2010.rmll.info/spip.php?page=linuxfr"></a>
    <a href="http://2010.rmll.info/spip.php?page=rmll_test"></a>
    </li>-->
  </ul>
</div>
<div id="head-wrapper">
  <div id="head">
    <div id="logo">
      <h1>
        <a href="http://2010.rmll.info/">
          <img src="/templates/rmll2010/media/logo-11es_fr.png" alt="11es Rencontres Mondiales du Logiciel Libre du 6 au 11 juillet 2010" />
        </a>
      </h1>
    </div>
    <div id="sidelogo"></div>
    <div class="clear"></div>
  </div>
</div>

