Bonjour <%= @user.login%>,

Voici votre nouveau mot de passe pour accéder à votre compte Bonnes-Ondes :

<%= @new_password %>

<%= url_for :controller => :account, :action => :login, :only_path => false %>
