<html>
 <body>

  <h3>Bonjour <%= @user.login %>,</h3>

  <p>Voici votre nouveau mot de passe pour
    <%= link_to "accéder à votre compte Bonnes-Ondes", :controller => :account, :action => :login, :only_path => false %> :
    <code><%= @new_password %></code>
  <p>

  </body>
</html>
