<div id="head">
  <a title="Nantes 2009 : Rendez-vous libres !" href="http://2009.rmll.info/" id="mainlink"> </a>       
  <h1>La Radio des 10<sup>es</sup> Rencontres Mondiales du Logiciel Libre</h1>
</div>
<div id="icons">
  
  <a href="{{ show.url_for_podcast }}"><img alt="rss" src="{{theme.url_for_assets}}/media/rss.png"/> Le Podcast</a>
</div>

