<div id="barredroite">
  <h2>Ecouter en direct</h2>
  <p>
    <a href="http://stream.tryphon.org/radio-rmll-2009.m3u" title="Ecouter Radio RMLL 2009">
      <img src="{{theme.url_for_assets}}/media/listen.jpg"/> 
    </a>
    <br/>
    <a class="video" href="http://dubzone.intuxication.net:8080/rmllvideo.ogg.m3u" title="Regarder Radio RMLL 2009">Video</a>
  </p>
  <h2>Radios partenaires</h2>

  <ul>
    <li><a href="http://www.canalb.fr">Canal B</a></li>
    <li><a href="http://www.divergence-fm.org/">Divergence FM</a></li>
    <li><a href="http://www.autres-mondes.org/">Autres(M)Ondes</a></li>
  </ul>
</div>
