body { margin: 0; padding: 0; font: 14px Trebuchet MS, Verdana, sans-serif; }
h1, h2, h3, h4, h5, div, ul, p, ul { margin: 0; padding: 0; }
ul { list-style-type: square; }
a { color: #5884a6; text-decoration: none; }
a:hover { text-decoration: underline; }
form { margin: 12px; }
input, textarea { font-family: Trebuchet MS, Verdana, sans-serif; padding: 4px; font-weight: normal; font-size: 100%; }
input.openid { padding-left: 24px; background: url("../images/openid.png") no-repeat 4px; }
hr { display: none; clear: both; }
img { border: none; vertical-align: middle; }

.clear { clear: both; }
.right { float: right; }
.left { float: left; }
.hide { display: none; }

#access { display: none; }

#header { border-bottom: 4px solid #ccc; background: #333; }
#header div { position: relative; height: 100px; width: 750px; margin: 0 auto; background: url("../images/bonnes-ondes.png") no-repeat 0px 30px; }
#header h1 { display: none; }
#header a { font-size: 90%; color: #fff; }
#header div ul { position: absolute; bottom: 0; right: 0; padding: 0; font-size: 90%; list-style: none; }
#header ul li { float: left; margin: 0 0 0 8px; padding: 0; background-color: #a559e4; }
#header ul li a { float: left; display: block; padding: 6px 10px; text-decoration: none; color: #fff; font: normal 115% "Trebuchet MS", sans-serif; }
#header ul li a:hover { color: #333; }

#frame { margin: 0; padding: 18px 0; clear: both; }
#wrap { width: 750px; margin: 0 auto; background-color: #fff; }
#frame ul { margin: 4px 0; list-style-type: none; }
#frame h1 { font: normal 145% "Georgia", serif; color: #66af16; margin: 6px 0; }
#frame h2 { font: normal 120% "Georgia", serif; margin: 6px 0; color: #7dacd1; clear: both; border-bottom: 1px solid #7dacd1; }
#frame .actions, #frame .tags, .pagination { clear: both; margin: 0 0 6px; padding: 4px 0; font-size: 90%; text-align: right; }
#frame .actions, #frame .tags { border-top: 1px solid #ccc; }
#frame .details { position: absolute; top: 10px; right: 0; font-size: 90%; }
#frame .tags { margin: 6px 0 0; padding: 6px 20px; text-align: left; background: url("../images/tags.png") no-repeat 0px 6px; }
#frame .details span, #frame .actions span, #frame .icon { margin: 0; padding: 0 4px 0 20px; }
#frame .actions a, #frame .details a { color: #000; padding: 2px 2px 2px 20px; margin-left: 6px; }
#frame .edit { background: url("../images/edit.png") no-repeat; }
#frame .share { background: url("../images/share.png") no-repeat; }
#frame .destroy { background: url("../images/destroy.png") no-repeat; }
#frame .upload { background: url("../images/upload.png") no-repeat; }
#frame .next { background: url("../images/next.png") no-repeat; }
#frame .previous { background: url("../images/previous.png") no-repeat; }
#frame .download { background: url("../images/download.png") no-repeat; }
#frame .listen { background: url("../images/listen.png") no-repeat; }
#frame .basket_put { background: url("../images/basket_put.png") no-repeat; }
#frame .warning { background: url("../images/warning.png") no-repeat; }
#frame .unavailable { background: url("../images/unavailable.png") no-repeat; }
#frame .signup { background: url("../images/author.png") no-repeat; }
#frame .length { background: url("../images/length.png") no-repeat; }
#frame .size { background: url("../images/size.png") no-repeat; }
#frame .note { background: url("../images/note.png") no-repeat; }
#frame .author { float: left; background: url("../images/author.png") no-repeat; }
#frame .view { background: url("../images/view.png") no-repeat -2px 0px; }

#content { float: right; width: 510px; margin: 0 0 0 40px; }
#content h3, #content h3 a { text-decoration: none; color: #a559e4; margin-bottom: 6px; }
#content h4 { color: #5884a6; }
#content p { margin: 0 0 0 6px; }
#content li { position: relative; margin: 0 12px 8px; padding: 8px 0 0; }
#content li p, #content form p { margin: 0; }
#content li.vcard { float: left; width: 45%; padding: 10px 0; }
#content li.vcard img.photo { float: left; margin: 0 10px 0 0; text-align: center; padding: 2px; border: 1px solid #ccc; background: #fff; }
#content li.vcard span.fn { display: block; margin-bottom: 5px; }
#content li.hreview { position: relative; padding: 15px; border-bottom: 1px solid #e5dfc7; border-right: 1px solid #e5dfc7; background: #f2f2f2; }
#content li.hreview img.photo { float: left; margin: 0 10px 4px 0; padding: 2px; border: 1px solid #ccc; }
#content li.hreview span.reviewer { padding: 0; margin: 0 0 6px 0; font-weight: bold; font-size: 100%; border: none; }
#content li.hreview abbr.rating { float: right; margin: 0; border: none; }
#content li.hreview blockquote.description { margin: 2px 0 6px 56px; padding: 0; line-height: 1.5em; }
#content ul.images li img { float: left; margin-right: 15px; }
#content ul.images li { clear: both; }
#content #filter { float: right; margin: 0; }
#content #filter p { margin: 0; }
#content #filter input { padding: 1px 4px; font-size: 90%; color: #333; margin-top: 9px; }
#content a.rel-tag { line-height: 2em; margin: 0 2px 0 0; padding: 3px 5px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; background: #f2f2f2; }
#content a:hover.rel-tag { text-decoration: none; background: #efefef; }
ul#welcome { margin: 16px 100px 16px 14px; }

#content .description p { margin: 6px; }
#content .description img { float: right; margin: 0 3px 10px 3px; }

#welcome li { margin: 6px; color: #000; padding: 4px 4px 4px 28px; background: #fff url("../images/tick.png") no-repeat 4px 4px; }

#subscribers, #users, #members { clear: both; border: 1px solid #5884a6; }
#subscribers li, #users li, #members li { padding: 12px; margin: 2px 12px; cursor: pointer; }

#sidebar { float: left; width: 200px; margin: 0 0 20px 0; }
#sidebar ul { margin: 0 0 12px 22px; padding: 0; list-style-type: square; }
#sidebar li { margin: 3px 0; padding: 6px 0 0 0; font-size: 100%; }
#sidebar li a { color : #000; }
#sidebar sup { font-size: 70%; }
#sidebar p { text-indent: 4px; font-size: 90%; margin: 4px; }
#search { margin: 0.2em 0 1em; }
#search input { float: left; padding: 0; width: 174px; }
#search input.image { float: right; width: 20px; height: 20px; border: none; }

#status { margin: 1em 0; }
#status .progressBar .border { background-color: white; border: 1px solid grey; width: 100%; }
#status .progressBar .background { background-color: #333; height: 18px; width: 0%; }

#messages { padding: 0 0 12px; background: #fff; }
#flash { margin: 6px 0; padding: 12px 0; font-size: 115%; font-weight: bold; text-indent: 54px; border-top: 1px solid #979797; border-bottom: 1px solid #979797; background: #e7e7e7 url("../images/notice.png") no-repeat 28px; }
#messages .success { color: #1e7a1b; border-color: #4bb426; background: #b7e1af url("../images/success.png") no-repeat 28px; }
#messages .failure { color: #c01100; border-color: #ca4f35; background: #ffbdbd url("../images/failure.png") no-repeat 28px; }
#messages .warning { color: #c67109; border-color: #c67109; background: #f8e694 url("../images/warning.png") no-repeat 28px; }

#errors ul { margin: 0 12px 14px 14px; list-style-type: square; }
#errors li { margin: 6px; }

p#cloud { margin-bottom: 8px; }
#labels_auto_complete ul { margin: 0; padding: 0; list-style-type: none; border: 1px solid #ccc; background: #fff; }
#labels_auto_complete li { cursor: default; margin: 0; padding: 7px 5px; border-top: 1px solid #ccc; background: #fff; }
#labels_auto_complete li.selected { background: #c9e9b3; }

#footer { display: none; clear: both; color: #333; line-height: 18px; margin: 0; padding: 24px 0; background: #e7db9f; }
#footer div { width: 760px; margin: 0 auto; text-align: left; }
#wrap:after, #content .vcard:after, #subscribers:after, #users:after, #members:after, #content .hreview:after, #search:after { content: ".";  display: block; height: 0; clear: both; visibility: hidden; }
* html #wrap, * html #content .vcard, * html #subscribers, * html #users, * html #members, * html #search { height: 1%; }

.textile_editor_help { padding: 4px 0 10px 10px; font-size: 0.9em; font-style: italic; }

#selection li { display: inline; }
