@import 'reset.css';
html,body {line-height:1.4em;font-family:Arial,sans-serif;background:#75122a url('../media/page.png') repeat-y center top;font-size:16px;}
html.popup, html.popup body {margin:1em 0;background:#ad2039;}
a {color:#f4b600;text-decoration:none;}
a:hover {color:#fff;}
h2 {font-size:1.125em;}
h3 {font-size:1.125em;font-weight:normal;}
hr {display:none;}
p {margin:0.2em 0;}
#page {position:relative;width:766px;margin:0 auto;color:#fff;}
#header {background:url('../media/header.png');height:250px;}
#header h1 {display:none;}
#header form {position:absolute;top:184px;right:8px;font-size:.85em;}
#header form p {margin:0;}
#festival {position:absolute;left:205px;top:225px;margin-bottom:.8em;width:120px;height:60px;text-indent:-5000px;background:url('../media/back.png') no-repeat;}
#festival a {display:block;height:100%;width:100%;}
#sidebar {float:left;width:200px;padding:18px 1.8px 0 0.2em;color:#fff;}
#sidebar ul {margin:0 0 1.4em .25em;}
#sidebar li {font-size:.9em;padding:.025em 0;}
#sidebar #podcast a {display:block;width:200px;margin:1em 0;padding:4px 0 0 52px;height:32px;background:url('../media/podcast.png') 16px 0 no-repeat;color:#671322;font-weight:bold;font-size:1.4em;font-variant:small-caps;}
#sidebar #podcast a:hover {color:#fff;background-image:url('../media/podcast-over.png');}
#sidebar #listen a {display:block;width:200px;margin:1em 0;padding:4px 0 0 52px;height:32px;background:url('../media/listen.png') 16px 0 no-repeat;color:#671322;font-weight:bold;font-size:1.4em;font-variant:small-caps;}
#sidebar #listen a:hover {color:#fff;background-image:url('../media/listen-over.png');}
#sidebar #radio {margin-bottom:.8em;width:100px;height:74px;background:url('../media/radio.png') no-repeat;}
#sidebar #radio a {display:block;height:100%;width:100%;color#fff;padding:32px 0 0 106px;font-weight:bold;font-size:1.4em;font-variant:small-caps;}
#sidebar #radio a:hover {color:#671322;}
#content {margin:38px 0 0 200px;padding:18px;}
#content .program {position:absolute;top:302px;right:0.2em;font-size:.9em;}
#content .introduction { padding-right: 15em; margin-bottom: 1em; }
#content .introduction strong { font-weight: bold; }
#content h2 {margin-bottom:.8em;}
#content .hentry {margin-bottom:1.4em;}
#content .post-info {margin:-.5em 0 0 .8em;font-size:.8em;}
#content .entry-content {font-size:.95em;}
#content .entry-content p {text-align:justify;}
#content .entry-content strong {font-weight:bold;}
#content .entry-content em {font-style:italic;}
#content .entry-content ul {margin-left:2.25em;}
#content .entry-content li {list-style-type:square;}
#content .entry-content img {float:right;border:1px solid #fff;margin:0 1em;}
#content .entry-content h3 {font-weight:bold;}
#content .audio {position:relative;margin:.2em 0 1em 1em;}
#content .audio a {display:block;padding-left:38px;background:url('../media/play.png') no-repeat 0 2px;height:36px;}
#content .audio a:hover {background-image:url('../media/play-over.png');}
#content .audio p {position:absolute;left:38px;top:1.8em;}
#content .duration {font-size:.80em;line-height:.85em;}
#page .player {margin:0.2em 0 1em 1em;}
#page .player h4 {font-size:.95em;}
#page .player img {float:left;margin-right:1em;border:1px solid #fff;}
#footer {clear:both;overflow:auto;padding:.2em;}
#footer h2 {margin:0 0 .4em .2em;}
#footer h3 {font-size:1em;font-weight:bold;color:#93d121;}
#footer .day {float:left;width:23%;padding:.4em;}
#footer ul {margin:0 .4em 1em;padding:0 0 0 .4em;border-left:1px solid #f4b600;}
#footer li {font-size:.85em;margin:0.2em 0;}
#footer li .dtstart {font-size:.85em;}
