<div id="header" onclick="document.location = 'http://www.esperanzah.be';">
  <h1>Radio Esperanzah! 2008</h1>
  <form action="http://www.esperanzah.be/index.php?option=com_content&task=view&id=120" method="post">
   <input type="text" value="Votre email" name="AdresseEmail" size="20" />
   <input type="submit" value="S'incrire" />
  </form>
</div>
<hr/>
<div id="festival">
  <p><a title="Retour au site du festival Esperanzah!" href="http://www.esperanzah.be">Le festival</a></p>
</div>
