<div id="radio">
 <p><a href="/">Radio!</a></p>
</div>
<!--
<h2>Les dernières émissions</h2>

<ul>
 <li>
  <a href=""></a>
 </li>
</ul>
-->

<div id="podcast"><a href="{{show.url_for_podcast}}" title="Radio Esperanzah! Podcast">Podcast</a></div>
<!--
<div id="listen"><a href="" title="Radio Esperanzah! Direct">Ecoutez</a></div>
-->
<h2>Les radios partenaires</h2>
<ul>
 <li><a href="http://radiocampus.ulb.ac.be/" title="Radio Campus Bruxelles">Radio Campus Bruxelles</a></li>
 <li><a href="http://www.48fm.ulg.ac.be/" title="48FM">48FM</a></li>
 <li><a href="http://www.radiopanik.org/" title="Radio Panik">Radio Panik</a></li>
 <li><a href="http://run.fundp.ac.be/" title="Radio Universitaire Namuroise">Radio Universitaire Namuroise</a></li>
 <li><a href="http://www.100komma7.lu/" title="Radio 100.7 Luxembourg">Radio 100.7 Luxembourg</a></li>
 <li><a href="http://www.radiochango.com/" title="Radio Chango">Radio Chango</a></li>
 <li><a href="http://www.autres-mondes.org/" title="Autres(M)Ondes">Autres(M)Ondes</a></li>
</ul>
