<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">
 <head>
  <title>Esperanzah! 2008 - Demandez le programme, dimanche !</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="css/screen.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="css/print.css" media="print"/>
 </head>
 <body>
  <div id="page">
   <div id="header">
    <h1>Radio Esperanzah! 2008</h1>
    <form action="http://www.esperanzah.be/index.php?option=com_content&task=view&id=120" method="post">
     <input type="text" value="Votre email" name="AdresseEmail" size="20" />
     <input type="submit" value="S'incrire" />
    </form>
   </div>
   <div id="sidebar">
    <h2>Les dernières émissions</h2>
    <ul>
     <li>
      <a href="http://radio.esperanzah.be">Balimurphy, première partie</a>
     </li>
     <li>
      <a href="http://radio.esperanzah.be">Zita Swoon, interview en concert</a>
     </li>
    </ul>
    <div id="podcast"><a href="http://radio.esperanzah.be" title="Radio Esperanzah! Podcast">Podcast</a></div>
    <h2>Les radios partenaires</h2>
    <ul>
     <li><a href="http://radiocampus.ulb.ac.be/" title="Radio Campus Bruxelles">Radio Campus Bruxelles</a></li>
     <li><a href="http://www.48fm.ulg.ac.be/" title="48FM">48FM</a></li>
     <li><a href="http://www.radiopanik.org/" title="Radio Panik">Radio Panik</a></li>
     <li><a href="http://run.fundp.ac.be/" title="Radio Universitaire Namuroise">Radio Universitaire Namuroise</a></li>
     <li><a href="http://www.100komma7.lu/" title="Radio 100.7 Luxembourg">Radio 100.7 Luxembourg</a></li>
     <li><a href="http://www.radiochango.com/" title="Radio Chango">Radio Chango</a></li>
     <li><a href="http://www.autres-mondes.org/" title="Autres (M) Ondes">Autres (M) Ondes</a></li>
    </ul>
   </div>
   <div id="content" class="hfeed">
    <div class="hentry entry" id="post-1">
     <h3 class="entry-title">Demandez le programme, dimanche !</h3>
     <div class="post-info">
      <a href="episode.html" class="published" rel="bookmark" title="Demandez le programme, dimanche!">
       &#8594; 28 juillet 2008
      </a>
     </div>
     <div class="entry-content">
      <p>Tout le programme du dimanche 3 août, premier jour de l'édition 2008 du Festival Esperanzah!. Présenté par Jean-Yves Laffineur, le programmateur (et directeur) du festival.</p>
     </div>
    </div>
    <div id="listen">
	 <h3>Ecoutez</h3>
	 <div class="audio" id="audio-1">
	  <h4><a href="?popup=true" onclick="window.open('popup.html','bonnes-ondes-1','height=300,width=800');return false;">L'intégrale</a><h4>
	  <p class="duration">60 minutes</p>  
	 </div>
	 <div class="audio" id="audio-1">
	  <h4><a href="?popup=true" onclick="window.open('popup.html','bonnes-ondes-1','height=300,width=800');return false;">Moriarty</a><h4>
	  <p class="duration">10 minutes</p>  
	 </div>
	</div>
   </div>
  </div>
 </body>
</html>

