<div id="header">
 <img src="{{theme.url_for_assets}}/media/header.png" usemap="#header"/>
 <map name="header">
   <area shape="poly" coords="25,61,31,97,132,77,123,39" href="http://www.esperanzah.be" target="_blank" alt="Festival Esperanzah!" />
   <area shape="poly" coords="635,247,647,296,779,262,764,214" href="http://www.esperanzah.be/index.php?option=com_content&task=view&id=68&Itemid=" target="_blank" alt="Contactez l'équipe du festival" />
   <area shape="rect" coords="41,19,742,301" href="/" />
 </map>
</div>
