<div id="listen"><a href="{{show.url_for}}direct" onclick="window.open('{{show.url_for}}direct','re2009-live','height=150,width=600');return false;" title="Radio Esperanzah! Direct">écouter en direct</a></div>
<h3>Mots-clés</h3>
<ul id="keywords">
 {% for tag in show.tags limit:15 %}
  {% case tag.name %}
   {% when 'jeudi' %}
   {% when 'vendredi' %}
   {% when 'samedi' %}
   {% when 'dimanche' %}
   {% when 'jean-yves laffineur' %}
   {% else %}
    <li><a href="/tags/{{tag.name}}">{{ tag.name }}</a></li>
  {% endcase %}
 {% endfor %}
</ul>
<h3>Radios partenaires</h3>
<ul>
 <li><a href="http://radiocampus.ulb.ac.be/" title="Radio Campus Bruxelles">Radio Campus Bruxelles</a></li>
 <li><a href="http://www.48fm.ulg.ac.be/" title="48FM">48FM</a></li>
 <li><a href="http://www.radiopanik.org/" title="Radio Panik">Radio Panik</a></li>
 <li><a href="http://www.run.be/" title="Radio Universitaire Namuroise">Radio Universitaire Namuroise</a></li>
 <li><a href="http://www.radiochango.com/" title="Radio Chango">Radio Chango</a></li>
 <li><a href="http://www.beaucanton.be/spip.php?rubrique36" title="Radio Sud">Radio Sud</a></li>
 <li><a href="http://www.autres-mondes.org/" title="Autres(M)Ondes">Autres(M)Ondes</a></li>
</ul>
