<h2><%= h @show.name %> - Informations</h2>

<% for post in @posts %>
  <li>
    <%= link_to(post.title, [:admin, @show, post]) %>
    <br/>créé <%= format_date(post.created_at) %>
  </li>
<% end %>
</ul>

<div class="actions">
  <%= link_to "Ajouter une information", new_admin_show_post_path(@show) %>
</div>
