<div id="menu">
<a href="http://60gp.ovh.net/~jouerjus/index.php?option=com_frontpage&amp;Itemid=2">Accueil</a>
<a href="http://60gp.ovh.net/~jouerjus/index.php?option=com_content&amp;task=blogcategory&amp;id=4&amp;Itemid=5">Le livre</a>
<a href="http://60gp.ovh.net/~jouerjus/index.php?option=com_content&amp;task=blogcategory&amp;id=5&amp;Itemid=6">Les contributeurs</a>
<a href="http://60gp.ovh.net/~jouerjus/index.php?option=com_content&amp;task=blogcategory&amp;id=6&amp;Itemid=7">Où trouver la musique assiégée</a>
<a href="http://60gp.ovh.net/~jouerjus/index.php?option=com_content&amp;task=blogcategory&amp;id=2&amp;Itemid=9">Presse</a>
<a href="http://60gp.ovh.net/~jouerjus/index.php?option=com_content&amp;task=blogcategory&amp;id=7&amp;Itemid=10">Blog</a>
<a href="{{show.url_for}}">Chroniques</a>
<a href="http://60gp.ovh.net/~jouerjus/index.php?option=com_contact&amp;task=view&amp;contact_id=1&amp;Itemid=11">Contact</a>
</div>
