<h2>Vos identifiants</h2>

<p>
Si vous avez oublié votre mot de passe, indiquez l'adresse email utilisée
à votre inscription. Vous recevrez par email un nouveau mot de passe.
</p>

<% form_tag(:action => :recover_password) do %>
 <p><label for="email">Votre Email :</label><br/>
 <%= text_field_tag("email", @email, :size => 25) %></p>
 <p><%= submit_tag "Envoyer" %>
 ou
 <%= link_to "annuler &#8250;", :controller => :account, :action => :login %></p>
<% end %>
