<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
 <head>
  <title><%= strip_tags(yield :title) %> - Bonnes Ondes</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <% unless @show.blank? %>
    <%= tag(:link,
      :rel => "alternate", :type => "application/rss+xml",
      :title => "Le podcast : #{@show.name}",
      :href => url_for_podcast(@show))
    %>
  <% end %>

  <%= stylesheet_link_tag("public", :media => "screen") %>
  <%= javascript_include_tag(:defaults) %>
 </head>

 <% content_tag :body, :class => action_name do %>
  <% content_tag :div, :id => "all", :class => @page_type || "normal" do %>
    <div id="header">
      <div class="left border"></div>
      <div class="right border"></div>
      <h1><%= yield :title %></h1>
    </div>
    <div id="view">
      <div class="left border"></div>
      <div class="right border"></div>

      <div id="page">
        <%= yield %>
        <div id="copyright">
          <%= yield :copyright %>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="left border"></div>
      <div class="right border"></div>

      <p>
        <% if logged_in? %>
          <%= link_to("Mon compte", :controller => "account", :action => "index") %>
        <% else %>
          <%= link_to("S'identifier", :controller => "account", :action => "login") %>
        <% end %>
        - hébergé par <a href="#">Bonnes Ondes</a>
      </p>
    </div>
  <% end %>
 <% end %>
</html>
